.main{
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
  background-color: white;
}
.top{
  display: flex;
}
.logo{
  height: 8vh;
  padding: 20px 0px 0px 20px;
  width: 40%;
}
.info{
  width: 60%;
  margin-top:30px;
  .line{
    text-align: right;
    margin-right: 20px;
    font-size: 17px;
    color: black;
    margin-bottom: 10px;
    font-family: 'SC3';
    font-weight: 600;
  }
}


.result{
  width: 100%;
  border-color: grey;
  display: table;
  box-sizing: border-box;
  text-indent: initial;
}

.headerrow{
  background-color: #243D4F !important; -webkit-print-color-adjust:exact;
  height: 10px;
  border-left :1px solid #243D4F;
  border-right:1px solid #243D4F;
}
.headerrowred{
  color: black;
  font-family: 'SC3';
  
}
.bodys{
  background-color: white;
  border-left :1px solid #243D4F;
  border-right:1px solid #243D4F;
  border-bottom: 1px solid #243D4F;
  text-align: center;
  font-size: 12px;
  height: 27.5px;
  vertical-align: middle;
  cursor: pointer;
}
.headerd{
  width: 10%;
  font-weight: 600;
  min-height: 18px;
  border-bottom: 1px solid var(--hairline-color);
  vertical-align: middle;
  padding: 2px; 
  color:white;
}
.headern{
  width: 18%;
  font-weight: 600;
  vertical-align: middle;
  min-height: 18px;
  border-bottom: 1px solid var(--hairline-color);
  padding: 2px; 
  color:white;
}
.headerw{
  width: 36%;
  font-weight: 600;
  min-height: 18px;
  border-bottom: 1px solid var(--hairline-color);
  vertical-align: middle;
  padding: 2px; 
  color:white;
}
tr{
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
.testtable{
  width: 98%;
  margin-left:auto;
  margin-right:auto;
  display: flex;
  
}