$bg-color: #FAFAFA;
$dark-blue: #003569;
$dark-grey: #999;
$bg-footer : #F1F1F1;
$nav-bg-color: #684a94;
$nav-bg-select: #46b0e5;
$nav-bg-focus: #5c7eb8;
$max-page-width: 935px;
$max-card-width: 600px;
$small-font-size: 12px;
$normal-font-size: 14px;
$big-font-size: 16px;
$dark-blue: #003569;
$light-blue: #3897f0;
$dark-grey: #999;
$border-color: #e6e6e6;
$light-grey: #efefef;